:root{
    --color-solid-blue : rgb(38, 65, 84);
    --color-solid-blue-d1 : rgb(28, 58, 79);
    --color-solid-blue-d2 : rgb(30, 52, 67);
    --color-solid-yellow : rgb(253, 179, 4);
    --color-solid-yellow-d1 : rgb(214, 166, 2);
    --color-solid-yellow-d2 : rgb(214, 166, 2);
    --color-translucent-blue : rgba(38, 65, 84, .7);
    --color-translucent-yellow : rgba(253, 179, 4, .7);
    --color-solid-black: rgb(26, 33, 48);
    --color-solid-white: rgb(253, 255, 226);
}

/* HEADER */
.header-container{
    background-color: var(--color-solid-blue);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 2px 5px var(--color-solid-black);
}

.header-container header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 25px;
}

.logo{
    width : 150px;
}

.logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo a img{
    width: 50px;
    height: 50px;
}

.logo a h1{
    color: rgb(255, 240, 120);
    font-family: 'Montserrat';
    font-size: 2em;
    text-shadow: 1px 1px 10px var(--color-solid-yellow);
    margin-bottom: 8px;
}

.menu{
    width: 100%;
    margin: 0 5px;
}

.menu nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu nav li a{
    text-decoration: none;
    text-align: none;
    margin: 0 15px;
    padding: 3px;
    color: var(--color-solid-white);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}.menu nav li a:hover{
    color: var(--color-solid-yellow);
}

.responsive-menu{
    display: none;
    color: var(--color-solid-white);
    background-color: var(--color-solid-yellow);
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border-radius: 5px;
    min-width: 40px;
}

/* HOME */
.home-container{
    height: 100vh;
    background: linear-gradient(to right, var(--color-translucent-blue), var(--color-translucent-blue)), url(../img/fondoInicioPC.jpg);
    background-size: cover;
    color: var(--color-solid-white);
    display: flex;
    align-items: center;
}

.home-container .banner{
    padding: 15px;
    background-color: var(--color-solid-blue-d2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.banner .img-container img{
    margin-top: 40px;
    border: 5px outset var(--color-solid-yellow);
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.banner h2{
    margin-top: 40px;
    font-family: 'Montserrat';
    font-size: 35px;
}

.banner h3{
    font-size: 15px;
    font-weight: normal;
}

.banner .media a{
    color: var(--color-solid-white);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--color-solid-white);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}.banner .media a:hover{
    background-color: var(--color-solid-yellow);
}

/* ABOUT ME */
.aboutme{
    background-color: var(--color-solid-blue-d2);
    color: var(--color-solid-white);
    padding: 50px 20px;
}

.aboutme-container{
    max-width: 1100px;
    margin: auto;
}

.aboutme h2{
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.aboutme-container p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.aboutme-container p span{
    color: var(--color-solid-yellow);
    font-weight: bold;
}

.aboutme .row{
    display: flex;
}

.aboutme .row .col{
    width: 50%;
}

.aboutme .row .col h3{
    font-size: 28px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.aboutme .row .col ul{
    list-style: none;
}

.aboutme .row .col ul li{
    margin: 12px 0;
}

.aboutme .row .col ul li strong{
    display: inline-block;
    color: var(--color-solid-yellow);
    width: 130px;
}

.aboutme .row .col ul li span{
    background-color: var(--color-solid-yellow);
    padding: 3px;
    font-weight: bold;
    color: var(--color-solid-black);
    border-radius: 5px;
}

.aboutme .row .col .interests-container{
    display: flex;
    flex-wrap: wrap;
}

.aboutme .row .col .interests-container .interest{
    width: 100px;
    height: 100px;
    background-color: var(--color-solid-blue);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: default;
}.aboutme .row .col .interests-container .interest:hover{
    background-color: var(--color-solid-yellow);
    color: var(--color-solid-black);
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px var(--color-solid-black);
}

.aboutme .row .col .interests-container .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}

.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px outset var(--color-solid-white);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--color-solid-white);
    position: relative;
    z-index: 10;
}

.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-solid-yellow);
    z-index: -1;
    transition: 1s;
}.aboutme button:hover .overlay{
    width: 100%;
}

/* SKILLS */
.skills{
    background: linear-gradient(to top, var(--color-translucent-blue), var(--color-translucent-blue)), url(../img/skills-bg.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
    color: var(--color-solid-white);
    padding: 50px 20px;
}

.skills .skills-container{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.skills .row{
    display: flex;
}

.skills .row .col{
    width: 50%;
    padding: 0 20px;
}

.skills .row .col h3{
    font-size: 28px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .skill-bar{
    height: 8px;
    width: 80%;
    background-color: var(--color-solid-blue-d2);
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progress{
    background-color: var(--color-solid-yellow);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .skill-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--color-solid-yellow);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .html{
    width: 0;
    animation: 2s html forwards;
}@keyframes html{
    0%{width: 0;}
    100%{width: 70%;}
}

.skills .skill .css{
    width: 0;
    animation: 2s css forwards;
}@keyframes css{
    0%{width: 0;}
    100%{width: 65%;}
}

.skills .skill .javascript{
    width: 0;
    animation: 2s javascript forwards;
}@keyframes javascript{
    0%{width: 0;}
    100%{width: 30%;}
}

.skills .skill .java{
    width: 0;
    animation: 2s java forwards;
}@keyframes java{
    0%{width: 0;}
    100%{width: 45%;}
}

.skills .skill .sql{
    width: 0;
    animation: 2s sql forwards;
}@keyframes sql{
    0%{width: 0;}
    100%{width: 45%;}
}

.skills .skill .react{
    width: 0;
    animation: 2s react forwards;
}@keyframes react{
    0%{width: 0;}
    100%{width: 5%;}
}

.skills .skill .communication{
    width: 0;
    animation: 2s communication forwards;
}@keyframes communication{
    0%{width: 0;}
    100%{width: 75%;}
}

.skills .skill .problem-solving{
    width: 0;
    animation: 2s problem-solving forwards;
}@keyframes problem-solving{
    0%{width: 0;}
    100%{width: 80%;}
}

.skills .skill .adaptability{
    width: 0;
    animation: 2s adaptability forwards;
}@keyframes adaptability{
    0%{width: 0;}
    100%{width: 70%;}
}

.skills .skill .creativity{
    width: 0;
    animation: 2s creativity forwards;
}@keyframes creativity{
    0%{width: 0;}
    100%{width: 85%;}
}

/* RESPONSIVE */
@media screen and (max-width:900px){
    nav{
        display: none;
    }

    .responsive-menu{
        display: block;
    }

    nav.responsive{
        display: block;
        position: fixed;
        right: 0;
        top : 80px;
        background-color: var(--color-translucent-blue);
    }

    nav.responsive ul{
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        padding: 5px;
        height: 100vh;
    }

    nav.responsive ul li{
        border-bottom: 1px solid var(--color-solid-yellow);
        width: 100%;
        margin: 20px 0;
    }

    nav.responsive ul li a{
        font-size: 1.5em;
    }

    .aboutme .row .col ul li strong{
        width: 100px;
    }
}

@media  screen and (max-width: 700px){
    .home-container .banner{
        max-width: 250px;
    }

    .banner h2{
        font-size: 22px;
        margin-top: 20px;
    }

    .banner .media a{
        margin: 25px 5px;
    }

    .aboutme .row{
        flex-direction: column;
    }

    .aboutme .row .col{
        width: fit-content;
    }

    .aboutme .row .col ul li strong{
        display: block;
        margin-bottom: 5px;
        width: fit-content;
    }

    .aboutme h2{
        font-size: 44px;
        text-align: left;
    }

    .aboutme h3{
        margin-top: 20px;
    }
    
    .aboutme-container p{
        text-align: justify;
    }

    .skills .row{
        flex-direction: column;
    }

    .skills .row .col{
        width: 100%;
    }

    .skills .row .col .skill-bar{
        width: 100%;
    }
}

