:root{
    --color-solid-blue : rgb(38, 65, 84);
    --color-solid-blue-d1 : rgb(28, 58, 79);
    --color-solid-blue-d2 : rgb(30, 52, 67);
    --color-solid-yellow : rgb(253, 179, 4);
    --color-solid-yellow-d1 : rgb(214, 166, 2);
    --color-solid-yellow-d2 : rgb(214, 166, 2);
    --color-translucent-blue : rgba(38, 65, 84, .7);
    --color-translucent-yellow : rgba(253, 179, 4, .7);
    --color-solid-black: rgb(26, 33, 48);
    --color-solid-white: rgb(253, 255, 226);
}

/* HEADER */
.contenedor-header{
    background-color: var(--color-solid-blue);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 25px;
}

.logo{
    width : 150px;
}

.logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo a img{
    width: 50px;
    height: 50px;
}

.logo a h1{
    color: rgb(255, 240, 120);
    font-family: 'Montserrat';
    font-size: 2em;
    text-shadow: 1px 1px 10px var(--color-solid-yellow);
    margin-bottom: 8px;
}

.menu{
    width: 100%;
    margin: 0 5px;
}

.menu nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu nav li a{
    text-decoration: none;
    text-align: none;
    margin: 0 15px;
    padding: 3px;
    color: var(--color-solid-white);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}.menu nav li a:hover{
    color: var(--color-solid-yellow);
}

.menu-responsive{
    display: none;
    color: var(--color-solid-white);
    background-color: var(--color-solid-yellow);
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border-radius: 5px;
    min-width: 40px;
}

/* INICIO */
.contenedor-inicio{
    height: 100vh;
    background: linear-gradient(to right, var(--color-translucent-blue), var(--color-translucent-blue)), url(../img/fondoInicioPC.jpg);
    background-size: cover;
    color: var(--color-solid-white);
    display: flex;
    align-items: center;
}

.contenedor-inicio .banner{
    padding: 15px;
    background-color: var(--color-solid-blue-d2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.banner>img{
    position: absolute;
    top: 100;
    left: 1;
    width: 35px;
    height: 35px;
}

.banner .contenedor-img img{
    margin-top: 40px;
    border: 5px outset var(--color-solid-yellow);
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.banner h2{
    margin-top: 40px;
    font-family: 'Montserrat';
    font-size: 35px;
}

.banner h3{
    font-size: 15px;
    font-weight: normal;
}

.banner .redes a{
    color: var(--color-solid-white);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--color-solid-white);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}.banner .redes a:hover{
    background-color: var(--color-solid-yellow);
}

/* RESPONSIVE */
@media screen and (max-width:900px){
    nav{
        display: none;
    }

    .menu-responsive{
        display: block;
    }

    nav.responsive{
        display: block;
        position: fixed;
        right: 0;
        top : 80px;
        background-color: var(--color-translucent-blue);
    }

    nav.responsive ul{
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        padding: 5px;
        height: 100vh;
    }

    nav.responsive ul li{
        border-bottom: 1px solid var(--color-solid-yellow);
        width: 100%;
        margin: 20px 0;
    }

    nav.responsive ul li a{
        font-size: 1.5em;
    }
}

